# Server
PORT="3000"
NODE_ENV="development"
# DATABASE_URL="prisma+postgres://accelerate.prisma-data.net/?api_key=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqd3RfaWQiOjEsInNlY3VyZV9rZXkiOiJza19jaXU4TmtIbXFZMWhnZWJEWjZpVUciLCJhcGlfa2V5IjoiMDFLOEs2UlhGUVBGUE5aM0tEN1M5OFlGTlIiLCJ0ZW5hbnRfaWQiOiJkOWY1YTU4YjUwN2NkZjZiMmFlN2YzZjJiMzZmOTI5ZjAxZmNkOTU5ZTA4MjBkYmQwMGQ0Y2Y2YmU1ZTAwNmFiIiwiaW50ZXJuYWxfc2VjcmV0IjoiOWNlZTcyZjgtOWY2MC00NDk4LWI4ZDAtMDljM2QyMWM0MDIyIn0.yN0syMYcHfkHb26w9Euwfbq4_9w_a_JMS1dMwCnfobQ"
# DATABASE_URL="postgresql://postgres.umvwzcgfojvpghqikzyb:U0OfhBhLMt6vMZFu@aws-1-ap-southeast-2.pooler.supabase.com:6543/postgres?pgbouncer=true"
# DATABASE_URL=postgresql://neondb_owner:npg_qskwv4uQLE3U@ep-morning-dust-addxmlrj-pooler.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require